@{
    ViewData["Title"] = "Home Page";
}
<img src="~/Image/Netcare.png" alt="NetCare" sizes="" class="img-responsive" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div style="text-align:center">
                <img src="~/Image/img-banner-quality-of-care.png" style="width:160%; height:160%" alt="NetCare" sizes="" class="img-responsive" />
            </div>
        </form> 
    </div>
</div>


